html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  /* line-height: 1.65; */
  /* padding-bottom: 1000px; */
}

/* css latihan 1 */
.container-satu {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
  /* flex berfungsi untuk mengatur ukuran  */
  flex: 3;
  /* order berfungsi untuk mengatur posisi */
  order: 2;
}

.sidebar-satu {
  /* flex berfungsi untuk mengatur ukuran  */
  flex: 1;
  /* order berfungsi untuk mengatur posisi */
  order: 1;
}

.sidebar-dua {
  /* flex berfungsi untuk mengatur ukuran  */
  flex: 1;
  /* order berfungsi untuk mengatur posisi */
  order: 3;
}

/* css latihan 2 */
.container-dua {
  /* maxwidt agar responsif */
  max-width: 800px;
  margin: 50px auto;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.layanan.satu {
  background-color: rgb(172, 49, 49);
}

.layanan.dua {
  background-color: rgb(92, 110, 213);
}

.layanan.tiga {
  background-color: rgb(90, 198, 90);
}

/* latihan 3 */
.container-tiga {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 50%;
  padding: 2px;
  box-sizing: border-box;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

/* latihan 4 */
.container-empat {
  max-width: 800px;
  margin: 50px auto;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

/* .card.besar {
  transform: scale(1.12);
} */

/* latihan 5 */
.container-lima {
  max-width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 5px solid black;
  display: flex;
}

.kotak {
  width: 100px;
  height: 100px;
  background-color: rgb(172, 49, 49);
  color: white;
  text-align: center;
  margin: auto;
  display: flex;
}
span {
  margin: auto;
}

/* responsive */
@media (min-width: 600px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }
  .layanan {
    width: 30%;
  }

  .thumbnail {
    width: 25%;
  }

  .container-empat {
    display: flex;
  }
}
